.header_content ul li a{
    color: #fff;
}

.main{
    width: 100vw;
    height: auto;
    overflow-x: hidden;

}

/* head text */
div.sec_main_t h4{
    font-family: "Noto Sans KR", serif;
    font-size: 2.5vw;
    font-weight: 700;
    line-height: 3.33vw;
    letter-spacing: -0.1%;
    margin-bottom: 1.25vw;
}
div.sec_main_t p{
    font-family: "Noto Sans KR", serif;
    font-size: 0.93vw;
    font-weight: 400;
    line-height: 1.35vw;
    letter-spacing: -0.1%;
    /* text-align: center; */
}


/* main_1 */
.main_1{
    width: 100%;
    min-height: 100vh;
}

.main_1_wrap{
    position: relative;
    width: 100%;
    height: 100vh;
}
.main_1_bg{
    z-index: -1;
    width: 100%;
    height: 100vh;
    position: absolute;
    top:0;
    left: 0; 
    overflow: hidden;

}
.main_1_bg video{
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
}
.main_1_text{
    position: absolute;
    bottom: 5.2vw; left: 6.25vw;
    max-width: 50.38vw;
}
.main_1_text h2{
    font-family: "Noto Sans KR", serif;
    font-size: 2.5vw; /* 45px*/
    font-weight: 700;
    line-height: 3.33vw; /* 64px*/
    letter-spacing: -0.01em;
    text-align: left;
    color: #fff;
}


/* main_2  */
.main_2{
    padding: 6.25vw; /* 120px */
}
.main_2_text h3{
    font-family: "Noto Sans KR", serif;
    font-size: 2.5vw; /* 48px */
    font-weight: 700;
    line-height: 3.33vw; /*64px*/ 
    letter-spacing: -0.01em;
    text-align: left;
    color: #121212;
}
.main_2_text h3 span{ color: #0B3585; }
.main_2_text p{
    max-width: 25vw;
    font-family: "Noto Sans KR", serif;
    font-size: 0.93vw; /* 18px */
    font-weight: 500;
    line-height: 1.35vw; /* 26px*/
    letter-spacing: -0.01em;
    text-align: left;
    color:  #121212;
    margin-top: 1.25vw; /* 24px*/
}


/* main_3 */
.main_3{
    font-size: 0;
}
/* esta */
.sec_establish {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.625vw; 
    position: relative;
    z-index: 1;
}
.sec_esta_text{
    position: sticky;
    top: 35%;
    left: 50%;
    transform: translate(-50%, 0);
    /* padding-bottom: 00px;  */
    font-family: "Noto Sans KR", serif;
    font-size: 2.5vw;
    font-weight: 700;
    line-height: 3.33vw;
    letter-spacing: -1%;
    color: #ffffff;
    z-index: 10;
}
.sec_esta_text p{
    color: #fff;
}
.sec_esta_btn_text{
    color: #fff;
}


/* main_3 공용 */
.main_flex_secWrap{
    margin: 100px 0;
    height: 200vh;
    position: static;
}
.main_flex_sec{
    margin: 0 auto;
    position: relative;
}
.flex_sec_text{
    position: absolute;
    bottom: 30%; left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.flex_sec_text h4{
    font-family: "Noto Sans KR", serif;
    font-size: 2.5vw;
    font-weight: 700;
    line-height: 3.33vw;
    letter-spacing: -0.1%;
    color: #ffffff;
}
.flex_sec_text p{
    color: #ffffff;
}
.flex_sec_btnWrap{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.625vw
}
.flex_sec_btnWrap p{
    color: #fff;
}
.flex_sec_text p{
    font-family: "Noto Sans KR", serif;
    font-size: 0.93vw;
    font-weight: 500;
    line-height: 1.35vw;
    letter-spacing: -0.1%;
    margin: 0.625vw 0 1.04vw 0;
}
.flex_sec_btnWrap p{
    font-size: 0.83vw;
    font-weight: 400;
    line-height: 1.25vw;
    letter-spacing: -0.1%;
}
.flex_sec_bg{
    width: 80%;
    height: 100vh;
    overflow: hidden;
}
.flex_sec_bg img{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    object-fit: cover;
}
.flex_sec_bg.sec_establish_bg{
    z-index: 5;
}

.reveal {
    display: inline-block;
    overflow: hidden;
}

.reveal span {
    display: inline-block;
    transform: translateY(100%);
}


/* layerd_1 */
.layered{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.layered > .flex_sec_text{
    z-index: 2;
}
.layered > .flex_sec_bg{
    border-radius: 10px;

}

/* main_4 */
@keyframes cursorRotate {
    0%{ transform: rotate(0);}
    100%{ transform: rotate(360deg);}
}
.cursor{
    position: fixed;
    top:0;
    left:0;
    z-index: 10;
    transform: translate3d(-50%, -50%, 0);
    display: flex; justify-content: center; align-items: center;
    pointer-events: none; 
    /* animation: cursorRotate 4s infinite linear; */
}
.main_4{
    width: 100%;
    height: 1080px;
    overflow: hidden;
    position: relative;
    padding: 9.25vw 0 0 6.25vw;
    /* cursor: none; */
    /* cursor: url('./assets/icon/slide_cursor.svg'), auto; */
    /* 마우스 커서 rotation 애니메이션 하려면 js 추가해야함 일단 보류 */
}
.main_4_text_wrap{
    position: absolute;
    z-index: 5;
}
.slide_btnWrap{
    margin-top: 2.08vw;
    display : flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
}
.slide_btn{
    font-family: "Noto Sans KR", serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
}
.slide_btn div { display: inline; padding: 0 5px; }
.nextBtn::before {
    content: " ";
    display: inline-block;
    width: 1px;
    height: 10px;
    background-color: #121212;
    margin-right: 12px;
    transform: translateY(-2px);
    
}
.nextBtn img { transform: rotate(180deg); }

/* slide */
.main_4 .slick-slide {
    opacity: 0;
}
.main_4 .slick-slide.slick-active {
    opacity: 1;
}
.main_4 .slick-list{
    padding: 0 !important;
    margin: 0 -30px !important;
}
.main_4 .slick-track{
    display: flex  !important;
    align-items: flex-end !important;
    gap: 2.08vw !important;
    min-height: 41.92vw !important;
}
.main_4 .slick-slide div.slick-current{
    height: 42vw;
}

.main_4_slide p{
    font-family: "Noto Sans KR", serif;
    font-size: 1.25vw;
    font-weight: 500;
    line-height: 1.56vw;
}

.main_4_slide .slick_imgWrap{
    /* width: 31.5vw; */
    /* height: 450px;  */
    margin-bottom: 24px;
}

.main_4_slick .slick_imgWrap {
    height: 23.4vw; 
    /* 기본 높이 */
    transition: height 0.4s ease;
    padding-bottom: 1.25vw;
}

.main_4_slick.slick-center .slick_imgWrap{
    height: 39vw; /* 중앙 슬라이드의 높이 */
}
.slick_imgWrap img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* main_5 */
.main_5{
    width: 100%;
    /* height: 750px; */

    background: url("./assets/background/main_5_bg.png");
    background-position: 100% 33%;
    background-attachment: fixed;
    background-size: 100%;
    padding: 6.25vw 13.5vw;
}
.main_5_text_wrap{
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 
.main_5_text_wrap.sec_main_t p{
    text-align: center;
}
.main_5_btnWrap{
    margin-top: 1.04vw;
    color: #fff;
}

.main_5_blur_boxWrap{
    min-width: 73vw;
    margin-top: 4.58vw;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 2.08vw 4.94vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10vw;
}
.main_5_blur_box{
    position: relative;
}
.main_5_blur_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main_5_blur_text p{
    font-family: "Noto Sans KR", serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.1%;
}
.main_5_blur_text div{
    font-family: "Noto Sans KR", serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 78px;
    letter-spacing: -0.1%;
}
.main_5_blur_text div::after { content: ""; display: inline-block; width: 1px; height: 4.16vw; background-color: rgb(255, 255, 255, 0.4); position: absolute ; top: 0.78vw; right: -5.2vw; }
.main_5_blur_box:last-child div::after{display: none;}

.blur_section span{
    font-family: Noto Sans KR;
    font-size: 0.83vw;;
    font-weight: 400;
    line-height: 1.25vw;
    text-align: left;
    display: block;
    padding-top: 8px;
}

/* main_6 */
.main_6{
    padding: 6.25vw;
}
.main_6_recruit_boxWrap{
    display: flex;
    gap: 2.08vw;
    margin-top: 2.6vw; 
}
.main_6_recruit_box{
    padding: 2.08vw 1.56vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20.3vw;
    height: 14.84vw;
    border: 2px solid rgba(204, 204, 204, 1);
    cursor: pointer;
}

.recruit_text{
    font-family: "Noto Sans KR", serif;
    font-size: 1.25vw;
    font-weight: 500;
    line-height: 1.66vw;
    letter-spacing: -0.1%;
    text-align: left;
    padding-bottom: 1.25vw;
    border-bottom : 1px solid #121212;
}
.recruit_btnWrap > p {
    color: #121212;
}

/* main_7 */
.main_7{
    overflow: hidden;
    max-height: 980px;
}
.main_7 .main_flex_sec{
    width: 100%;
    height: 980px;
    background-image: url('./assets/background/main_7_bg.png');
}
.main_7 .flex_sec_text p{ text-align: center;
}
/* main_8 */
.main_8{
    width: 100%;
}
.main_news_wrap{
    margin: 6.25vw;
}
.news_head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #121212;
    padding-bottom: 2.08vw;
}
.news_head .flex_sec_btnWrap p{
    color: #121212;
}
.news_box_Wrap{
    margin-top: 2.08vw;
}
.news_tab{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.25vw;
}
.news_tab li button{
    font-family: "Noto Sans KR", serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: -0.1%;
    text-align: center;
    color: #121212;
}
.news_tab li:nth-child(1) button{
    background: #0B3585;
    padding: 0.57vw 1.71vw;
    color: #fff;
    border-radius: 24px;
}

.news_box ul li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.08vw 1.04vw;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}
.news_box ul li:hover p{
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}
.news_box ul li p{
    font-family: "Noto Sans KR", serif;
    font-size: 1.25vw;
    font-weight: 500;
    line-height: 1.56vw;
    letter-spacing: -0.01%;
    text-align: left;
}
.news_box ul li span{
    font-family: "Noto Sans KR", serif;
    font-size: 0.83vw;
    font-weight: 400;
    line-height: 1.25vw;
    letter-spacing: -0.01%;
    text-align: right;
    color: #666666;

}
.news_box ul li div{
    display: flex;
}
.news_box ul li div i{
    font-size: 0.83vw;
    font-weight: 500;
    line-height: 26px;
    text-align: left;
    color: #fff;
    background: #FFC700;
    border-radius: 4px;
    padding: 0 6px;
    position: relative;
    z-index: 3;
    margin-left: 8px;
}

/* main_9 */
.main_9{
    background-color: #F3F3F3;
}
.main_9_text_wrap button{ margin-top: 2.08vw;}
.main_9_text_wrap button p{ color: #121212;}
.main_9_text_wrap{
    margin-bottom: 2.08vw;
}
.main_9_inner{
    width: 100%;
    padding: 6.25vw 0 6.25vw 6.25vw;
}
.photo_slide p{
    font-family: "Noto Sans KR", serif;
    font-size: 1.25vw;
    font-weight: 500;
    line-height: 1.56vw;
    letter-spacing: -0.1%;
    padding: 1.25vw 0 0.41vw 0;
}
.photo_slide span{
    font-family: "Noto Sans KR", serif;
    font-size: 0.83vw;
    font-weight: 400;
    line-height: 1.25vw;
    letter-spacing: -0.1%;
}
.photo_slideWrap{
    overflow-x: hidden;
}
.photo_slide{
    /* width: 27.7vw !important; */
    margin-right: 1.04vw;
    transform: translate(8.125rem, 0px);
}
.photo_slide img{
    width: 100%;
}
.main_9 .slick-slide {
    width: 27.7vw !important;
}

/* main 10*/
.main_10{
    font-size: 0;
}
.main_10 img{
    width: 100%;
    object-fit: cover;
}